<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/head-layout :: header(~{::title}, ~{::link})}">

    <title>Pokédex</title>

    <!-- 커스텀 CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/base.css}">
</head>
<body>
<!-- 중앙의 검은 줄 -->
<div class="center-line"></div>

<div class="container">
    <div class="contents-container">
        <h2 class="text-center mb-4">
            <a class="text-decoration-none text-dark fw-bold">Pokédex</a>
        </h2>
        <h3 class="text-center mb-4" th:text="${user.username}"></h3>
        <form method="post" th:action="@{/logout}">
            <button class="btn btn-contents w-100" type="submit">로그아웃</button>
        </form>
    </div>
</div>

</body>
</html>
