<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- 네비게이션 바 -->
<nav class="navbar navbar-expand-lg navbar-dark px-3 fixed-top" th:fragment="navbar">
    <button class="menu-btn" id="menuToggle" type="button">
        <i class="fa-solid fa-bars"></i>
    </button>

    <!-- 가운데 정렬 로고 -->
    <a class="navbar-brand fw-bold" href="../home.html"
       th:href="@{/admin}">Pokédex 관리자</a>

    <!-- 우측: 유저 이름과 로그아웃 버튼 -->
    <div class="ms-auto d-flex align-items-center">
        <div class="dropdown me-3">
            <a aria-expanded="false" class="text-white dropdown-toggle text-decoration-none"
               data-bs-toggle="dropdown" href="#"
               id="userDropdown"
               role="button" th:text="${user.username}">
                사용자이름
            </a>
            <ul aria-labelledby="userDropdown" class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#">마이페이지</a></li>
            </ul>
        </div>
        <form method="post" th:action="@{/admin/logout}">
            <button class="btn btn-logout btn-sm logout-btn" type="submit">로그아웃</button>
        </form>
    </div>
</nav>
</body>
</html>